
//**********************************************************//
/*/ ================ \
       CONTACT
\ ================ /*/
.contact {
    width: 100%;
    overflow: hidden;
    color: $black;
    background: url('./components/pages/Contact/img/bois.jpg');
  }
  
  .contact .container {
    height: 90vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
  .contact .container>div {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .left {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 65px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 3;
  }
  
  .contact-heading h1 {
    background: none;
    font-weight: 600;
    color: $black;
    font-size: 3rem;
    line-height: 0.9;
    white-space: nowrap;
  }
  
  .contact-heading .texte {
    background: none;
    color: $link-color-txt;
  }
  
  .contact-heading .texte a {
    text-decoration: none;
    color: $link-color-txt;
  }
  
  .contact-heading .texte a:hover {
    color: $linkHover;
    text-decoration: underline;
  }
  
  
  .form-wrapper {
    max-width: 32rem;
  }
  
  .contact-form {
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
  }
  
  .input-wrap {
    position: relative;
  }
  
  .input-wrap.w-100 {
    grid-column: span 2;
  }
  
  .contact-input {
    width: 100%;
    background-color: grey;
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    background: $light-color;
    font-family: inherit;
    border-radius: 20px;
    color: $black;
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px rgb(32, 130, 242), 92%, 54%, 0.169;
    transition: 0.3s;
  }
  
  .contact-input:hover {
    background-color: $inputHover;
  }
  
  .input-wrap label {
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: #9ca7b6;
    pointer-events: none;
    transition: .2s;
  }
  
  .input-wrap .icon {
    position: absolute;
    top: 50%;
    right: calc(1.35rem + 2px);
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.2rem;
  }
  
  textarea.contact-input {
    @include WithTextarea;
  }
  
  textarea.contact-input~label {
    top: 1.2rem;
    transform: translateY(-50%);
  }
  
  .input-wrap.focus .contact-input {
    background-color: $light-color;
    box-shadow: 0 0 0 1px rgb(10, 76, 142);
  }
  
  .input-wrap.not-empty label {
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
  }
  
  
  button {
    @include ContactBtn;
  }
  
  button:hover {
    @include btnHover;
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button span {
    display: block;
    margin-left: 0.4rem;
    transition: all 0.3s;
    margin-top: 0.2rem;
  }
  
  button .iconSend {
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    fill: $light-color;
    transition: all 0.3s;
  }
  
  button .wrapper {
    @include flex-center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5rem;
    transition: all 0.3s;
  }
  
  button:hover .wrapper {
    background-color: $jaune-btn;
  }
  
  button:hover .iconSend {
    transform: rotate(-5deg);
  }
  