//**********************************//
//        IMPORTATIONS
//**********************************//
@import "./components/scss/_mixin.scss";
@import "./components//scss//_button.scss";
@import "./components//scss/_couleurs.scss";



//**********************************//
//  Bases
//**********************************//
*,
*::before, 
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $ff-primary;
}


/*/ ================ \
       Grid
\ ================ /*/
// .row {
//   display: flex;
//   flex-wrap: wrap;
// }

// .row > * {
//   max-width: 100%;
//   padding-right: 0.75rem;
//   padding-left: 0.75rem;
// }

// [class*="col-"] {
//   width: 100%;
// }

$breakpoints: (
	'xs':  'min-width: 360px',
	'sm':  'min-width: 576px',
	'md':   'min-width:  768px',
	'lg':  'min-width:  992px',
	'xl':   'min-width: 1200px',
	'xxl':   'min-width: 1400px' 
);

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 auto;
    width: #{percentage(calc($i / 12))};
  }
}
@each $breakpoint, $minWidth in $breakpoints {
    @media screen and (#{$minWidth}) {
      @for $i from 1 through 12 {
        .col-#{$breakpoint}-#{$i} {
          flex: 0 0 auto;
          width: #{percentage(calc($i / 12))};
        }
      }
    }
    
  }



//********* NAVBAR **********//
//**********************************************************//
/*/ ================ \
       NavBar
\ ================ /*/
.navbar {
  @include LongLargPage;
  background-color: $light-color;
  display: flex;
  flex-direction: row;
  @include AllTexte;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.navbar .leftSide img {
  width: 150px;
}

.navbar #open {
  padding-left: 0px;
}

.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks{
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar .rightSide{
  @include flex-center;
}

.navbar a {
  color:grey;
  text-decoration: none;
  margin: 20px;
  align-items: center;
}

// .navbar .rightSide button {
//   background-color: transparent;
//   border: none;
//   color: $light-color;
//   cursor: pointer;
// }

// .navbar .rightSide svg {
//   font-size: 40px;
// }

.navbar #close .hiddenLinks{
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}


//********* FOOTER **********//
//**********************************************************//
/*/ ================ \
       Footer
\ ================ /*/
.footer-basic {
  padding: 50px 0;
  background-color: $bg-footer;
  color: $link-color-txt;
}

.footer-basic ul {
  list-style: none;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover{
  opacity: 1;
  text-decoration: underline;
  transition: 0.5s;
  font-size: 21px;
}


.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a{
  font-size:24px;
  width:50px;
  height:50px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  /* border:1px solid #a8a8a8;  */
  margin:0 8px;
  color:inherit;
  opacity:0.8;
}

.footer-basic .social > a:hover {
  opacity:0.9;
  border-radius: 150px;
  background: #ffffff;
  box-shadow:  9px 9px 18px #cfcfcf,
              -9px -9px 18px #ffffff; 

  transition: .5s;
  font-size: 29px;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:20px;
  color:$black;
  margin-bottom:0;
}



//**********************************//
//            MES PAGES             //
//**********************************//

/*/ ================ \
       ACCUEIL
\ ================ /*/

#intro {
  position: relative;
  @include flex-center;
  height: 100vh;
  //@include WithImg;
  background: url("./components/pages/Accueil/img/bois.jpg");
}

p{
  margin-bottom: 20px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  @include LongLargPage;
  object-fit: cover;
  opacity: 0.5;
}

.introContent {
  text-align: center;
  z-index: 1; 
  color: black; 
  padding: 20px;
}

.kontiki {
  font-size: 8rem;
  font-weight: bold; 
}

.introTexte {
  font-size: 2.5rem; 
}

.introMarketing {
  font-size: 3.5rem; 
  font-weight: bold; 
  border: 0;
  border-radius: 10px;
  background: $light-color;
  padding-left: 10px;
  padding-right: 10px;
}

.introPara {
  font-size: 1.2rem; 
  margin-top: 20px; 
}

.btn {
  @include HomeBtn;
  @include iptBoxShadow;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.btn::after {
  content: "";
  width: 400px;
  height: 400px;
  background: linear-gradient(225deg,#043e65 0%, #208feb 50%, #d3f10f 100%);
  position: absolute;
  top: -95px;
  left: -100px;
  z-index: -1;
  transition: all .5s;
}

.btn:hover::after {
  transform: rotate(250deg);
}

.btn:hover {
  transform: translate(0, -6px);
  box-shadow: 5px -5px 15px 0 rgb(242, 248, 64), -5px 5px 15px 0 rgb(39, 129, 255);
}


//**********************************************************//
/*/ ================ \
       CONTACT
\ ================ /*/
.contact {
  width: 100%;
  overflow: hidden;
  color: $black;
  background: url('./components/pages/Contact/img/bois.jpg');
}

.contact .container{
  height: 100vh;
  min-height: 700px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.contact .container > div {
  grid-column: 1/2;
  grid-row: 1/2;
}

.left{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 65px 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  z-index: 3;
}

.contact-heading h1{
  background: none;
  font-weight: 600;
  color: $light-color;
  font-size: 3rem;
  line-height: 0.9;
  white-space: nowrap;
}

.contact-heading .texte{
  background: none;
  color: $link-color-txt;
}

.contact-heading .texte  a{
  text-decoration: none;
  color: $link-color-txt;
}

.contact-heading .texte  a:hover{
  color: $linkHover;
  text-decoration: underline;
}


.form-wrapper{
  max-width: 32rem;
}

.contact-form{
  display: grid;
  margin-top: 2.55rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.input-wrap{
  position: relative;
}

.input-wrap.w-100 {
  grid-column: span 2;
}

.contact-input {
  width: 100%;
  background-color: grey; 
  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
  border: none;
  outline: none;
  background: $light-color;
  font-family: inherit;
  border-radius: 20px;
  color: $black; 
  font-weight: 600;
  font-size: 0.95rem;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0px rgb(32, 130, 242), 92%, 54%, 0.169;
  transition: 0.3s;
}

.contact-input:hover{
  background-color: $inputHover;
}

.input-wrap label{
  position: absolute;
  top: 50%;
  left: calc(1.35rem + 2px);
  transform: translateY(-50%);
  color: #9ca7b6;
  pointer-events: none;
  transition: .2s;
}

.input-wrap .icon{
  position: absolute;
  top: 50%;
  right: calc(1.35rem + 2px);
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.2rem;
} 

textarea.contact-input{
  resize: none;
  width: 100%;
  min-height: 150px;
}

textarea.contact-input ~ label{
  top: 1.2rem;
  transform: translateY(-50%);
}

.input-wrap.focus .contact-input{
  background-color: $light-color;
  box-shadow: 0 0 0 1px rgb(10, 76, 142);
} 

.input-wrap.not-empty label{
  font-size: 0.66rem;
  top: 0.75rem;
  transform: translateY(0);
}  


button {
  @include ContactBtn;
}

button:hover{
  @include btnHover;
}

button:active{
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span{
  display: block;
  margin-left: 0.4rem;
  transition: all 0.3s;
  margin-top: 0.2rem;
}

button .iconSend{
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  fill: $light-color;
  transition: all 0.3s;
}

button .wrapper{
  @include flex-center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5rem;
  transition: all 0.3s;
}

button:hover .wrapper{
  background-color: $jaune-btn;
}

button:hover .iconSend{
  transform: rotate(-5deg);
}


//**********************************************************//
/*/ ================ \
       TEST
\ ================ /*/
.container {
  max-width: 1100px;
  //margin: 0 auto;
  padding: 0 2rem;
}

.form-box{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  border: 2px solid $border-color;
  border-radius: 10px;
}

ul{
  @include DefaultUl;
}
